@model SlowNewsBlog.Models.MultipleBlogPostViewModel
@{
                /**/

                ViewBag.Title = "BlogsByHashTag";
}

<h2>BlogsByHashTag</h2>

<div class="blogs">
    @foreach (var blag in Model.BlogPosts)
    {
        <div class="blogBlock">
            @Html.Partial("_BlogPreviewPartial", blag)
            <div class="hashTagBlock">
                @Html.Partial("_HashTagsList", Model.HashTagsForBlogPosts[blag.BlogPostId])
            </div>
        </div>
    }
</div>

