@model SlowNewsBlog.Models.SingleBlogPostViewModel
@{
    ViewBag.Title = "BlogPost";
}

<h2>BlogPost</h2>

<div class="blogPost">
@Model.BlogPost
</div>
@Html.Partial("_HashTagsList", Model.HashTags)

