@model SlowNewsBlog.Models.MultipleBlogPostViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Slow News Network</h1>
    <p class="lead">Get yesterday's new, today.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="previewedBlogs">
            @foreach (var blag in Model.BlogPosts)
        {
                <div class="blogBlock">
                    @Html.Partial("_BlogPreviewPartial", blag)
                    <div class="hashTagBlock">
                    @Html.Partial("_HashTagsList", Model.HashTagsForBlogPosts[blag.BlogPostId])
                        </div>
                </div>
    }

        </div>
</div>
        <div class="col-xs-2">
            @Html.Partial("_CatagoriesList", Model.Categories)
        </div>
    </div>

</div>



