@model SlowNewsBlog.Models.BlogPreviewPageGroupModel
@using SlowNewsBlog.Models.Tables
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Slow News Network</h1>
    <p class="lead">Get your news from yesterday, today.</p>
</div>


