<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=CarDatabase;User Id=SuperBlogger;Password=C0$Mic0$M0;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RepositoryType" value="Prod" />
  </appSettings>
</configuration>