@model SlowNewsBlog.Models.Tables.BlogPost

<div class="blog-preview">
    <h3>@Html.ActionLink($"{Model.Title}", "BlogPost", "Blog", Model.BlogPostId, new { @class = "blog-title" })</h3>
    @{
            string firstParagraph = Model.Blog.Substring(0, Model.Blog.IndexOf("</p>")+4);

        }
    <div class="blog-content">
        <div class="headerImage">
            <img src="@Url.Content($"~/Images/{Model.HeaderImage}")" class="img-responsive" />
        </div>
            @Html.Raw(firstParagraph)
            <strong>@Html.ActionLink("Read More", "BlogPost", "Blog", new { blogId = Model.BlogPostId }, new { @class="ReadMore" })</strong>
        </div>
</div>