@model SlowNewsBlog.Models.Tables.BlogPost

<div class="blog-preview">
    <h3>@Html.ActionLink($"{Model.Title}", "BlogPost", Model.BlogPostId, new { @class = "blog-title" })</h3>
    @{
            string firstParagraph = Model.Blog.Substring(0, Model.Blog.IndexOf("</p>")+4);

        }
    <div class="blog-content">
        <div class="headerImage">
            <img src="@Url.Content($"~/Images/{Model.HeaderImage}")" />
        </div>
            @Html.Raw(firstParagraph)
            <strong>@Html.ActionLink("Read More", "BlogPosts", Model.BlogPostId)</strong> @*replace with correct link when controller finished*@
        </div>
</div>