@model List<SlowNewsBlog.Models.Tables.Catagory>

<div class="catagories-list">
    
        @foreach(var catagory in Model)
        {
            @Html.ActionLink($"{catagory.CatagoryName}", "BlogPosts", new { categoryId = catagory.CatagoryId }, new { @class="category" })
            <br />
        }
    
</div>