@model List<SlowNewsBlog.Models.Tables.Catagory>

<div class="catagories-list">
    
        @foreach(var catagory in Model)
        {
            @catagory.CatagoryName 
        }
    
</div>