@model List<SlowNewsBlog.Models.Tables.HashTag>

<div class="row">
    <div class="col-xs-12">
        <div class="hashtag-list">
                @foreach (var tag in Model)
                {
                    @Html.ActionLink($"{tag.HashTagName}", "BlogPosts", $"{tag.HashTagId}", new { @class="hashTag"}) @*replace with proper method call when controller in made*@
                
                }
        </div>
    </div>
</div>