@model List<SlowNewsBlog.Models.Tables.HashTag>

<div class="row">
    <div class="col-xs-12">
        <div class="hashtag-list">
                @foreach (var tag in Model)
                {
                    @Html.ActionLink($"{tag.HashTagName}", "BlogsByHashTag", "Blog", tag.HashTagId, new { @class="hashTag"})
                
                }
        </div>
    </div>
</div>